<form action="/cryptids" method="POST">
      <label for="cryptName">Name</label>
    <input id="cryptName" type="text" name="name">
  
    <label for="cryptType">Type</label>
    <input id="cryptType" type="text" name="type">
  
    <input type="submit">
  </form>